In [4]:
import simpy
import random
import numpy as np
import pandas as pd
from datetime import timedelta

# Configuração da simulação
NUM_TERMINALS = 20
SHIP_ARRIVAL_RATE = 5  # navios por dia
SIM_DURATION = 30  # dias de simulação

# Distribuição de destino dos navios (exemplo: 50% dos navios vão para os 5 primeiros terminais)
DESTINATION_PROBS = [0.08] * 5 + [0.06] * 5 + [0.04] * 5 + [0.02] * 5

# Parâmetros do tempo de serviço por terminal (distribuição triangular)
SERVICE_TIMES = {i: (4, 8, 6) for i in range(NUM_TERMINALS)}  # (min, max, modo)

# Listas para armazenar resultados
ship_log = []
terminal_log = []

class Porto:
    def __init__(self, env):
        self.env = env
        self.terminals = {i: simpy.Resource(env, capacity=1) for i in range(NUM_TERMINALS)}
        self.terminal_status = {i: {'start': None, 'idle_time': 0} for i in range(NUM_TERMINALS)}

    def service(self, ship_id,  arrival_time, terminal_id, duration_params):
        with self.terminals[terminal_id].request() as req:
            yield req  # Aguarda o terminal ficar disponível

            # Registra início do uso do terminal
            if self.terminal_status[terminal_id]['start'] is None:
                self.terminal_status[terminal_id]['start'] = self.env.now
            else:
                idle_time = self.env.now - self.terminal_status[terminal_id]['start']
                self.terminal_status[terminal_id]['idle_time'] += idle_time

            start_time = self.env.now
            print(f'Navio {ship_id} começou a ser atendido no terminal {terminal_id} em {start_time:.2f} horas')

            # Gera duração do serviço
            duration = random.triangular(*duration_params)
            yield self.env.timeout(duration)

            end_time = self.env.now
            print(f'Navio {ship_id} terminou em {end_time:.2f} horas | Tempo de fila: {(start_time - arrival_time):.2f}, Tempo de serviço: {duration:.2f}')

            # Armazena resultados
            ship_log.append({
                'ID Navio': ship_id,
                'Terminal': terminal_id,
                'Chegada': arrival_time,
                'Início Serviço': start_time,
                'Fila (h)': start_time - arrival_time,
                'Duração Serviço': duration,
                'Término': end_time
            })

            # Atualiza status do terminal
            self.terminal_status[terminal_id]['start'] = None

def ship_generator(env, porto):
    ship_id = 0
    while True:
        # Intervalo entre chegadas (Poisson)
        interarrival_time = random.expovariate(SHIP_ARRIVAL_RATE / 24)  # convertendo para horas
        yield env.timeout(interarrival_time)

        ship_id += 1
        destination = np.random.choice(range(NUM_TERMINALS), p=DESTINATION_PROBS)
        duration_params = SERVICE_TIMES[destination]

        arrival_time = env.now
        print(f'Navio {ship_id} chegou no porto em {arrival_time:.2f} horas')

            
        env.process(porto.service(ship_id, arrival_time, destination, duration_params))

def run_simulation():
    env = simpy.Environment()
    porto = Porto(env)
    env.process(ship_generator(env, porto))
    env.run(until=SIM_DURATION * 24)  # Converte dias para horas

    # DataFrame com logs dos navios
    df_ships = pd.DataFrame(ship_log)
    df_terminals = []

    for term_id, log in porto.terminal_status.items():
        df_terminals.append({
            'Terminal': term_id,
            'Tempo Ocioso (h)': log['idle_time'],
            'Tempo Total (h)': SIM_DURATION * 24,
            'Ocupação (%)': ((SIM_DURATION * 24 - log['idle_time']) / (SIM_DURATION * 24)) * 100
        })

    df_terminals = pd.DataFrame(df_terminals)

    return df_ships, df_terminals

# Roda a simulação
df_ships, df_terminals = run_simulation()

# Mostra resultados
print("\nLogs dos navios:")
display(df_ships.head(10).style.format(precision=2))

print("\nLogs dos terminais:")
display(df_terminals.style.format(precision=2))

Navio 1 chegou no porto em 3.87 horas
Navio 1 começou a ser atendido no terminal 19 em 3.87 horas
Navio 2 chegou no porto em 7.91 horas
Navio 2 começou a ser atendido no terminal 9 em 7.91 horas
Navio 1 terminou em 9.72 horas | Tempo de fila: 0.00, Tempo de serviço: 5.86
Navio 3 chegou no porto em 10.40 horas
Navio 3 começou a ser atendido no terminal 7 em 10.40 horas
Navio 2 terminou em 14.21 horas | Tempo de fila: 0.00, Tempo de serviço: 6.30
Navio 3 terminou em 15.77 horas | Tempo de fila: 0.00, Tempo de serviço: 5.37
Navio 4 chegou no porto em 28.61 horas
Navio 4 começou a ser atendido no terminal 5 em 28.61 horas
Navio 4 terminou em 34.80 horas | Tempo de fila: 0.00, Tempo de serviço: 6.19
Navio 5 chegou no porto em 37.64 horas
Navio 5 começou a ser atendido no terminal 9 em 37.64 horas
Navio 6 chegou no porto em 39.16 horas
Navio 6 começou a ser atendido no terminal 11 em 39.16 horas
Navio 7 chegou no porto em 40.81 horas
Navio 7 começou a ser atendido no terminal 3 em 40.81 horas
Navio 5 terminou em 43.78 horas | Tempo de fila: 0.00, Tempo de serviço: 6.14
Navio 8 chegou no porto em 44.14 horas
Navio 8 começou a ser atendido no terminal 7 em 44.14 horas
Navio 6 terminou em 44.24 horas | Tempo de fila: 0.00, Tempo de serviço: 5.08
Navio 7 terminou em 45.24 horas | Tempo de fila: 0.00, Tempo de serviço: 4.43
Navio 8 terminou em 50.51 horas | Tempo de fila: 0.00, Tempo de serviço: 6.37
Navio 9 chegou no porto em 53.39 horas
Navio 9 começou a ser atendido no terminal 9 em 53.39 horas
Navio 10 chegou no porto em 57.84 horas
Navio 10 começou a ser atendido no terminal 4 em 57.84 horas
Navio 9 terminou em 58.13 horas | Tempo de fila: 0.00, Tempo de serviço: 4.73
Navio 10 terminou em 64.99 horas | Tempo de fila: 0.00, Tempo de serviço: 7.15
Navio 11 chegou no porto em 65.07 horas
Navio 11 começou a ser atendido no terminal 10 em 65.07 horas
Navio 12 chegou no porto em 66.58 horas
Navio 12 começou a ser atendido no terminal 15 em 66.58 horas
Navio 13 chegou no porto em 66.94 horas
Navio 13 começou a ser atendido no terminal 1 em 66.94 horas
Navio 11 terminou em 71.28 horas | Tempo de fila: 0.00, Tempo de serviço: 6.21
Navio 13 terminou em 73.04 horas | Tempo de fila: 0.00, Tempo de serviço: 6.10
Navio 12 terminou em 73.43 horas | Tempo de fila: 0.00, Tempo de serviço: 6.84
Navio 14 chegou no porto em 76.80 horas
Navio 14 começou a ser atendido no terminal 7 em 76.80 horas
Navio 15 chegou no porto em 77.37 horas
Navio 15 começou a ser atendido no terminal 8 em 77.37 horas
Navio 16 chegou no porto em 78.41 horas
Navio 16 começou a ser atendido no terminal 11 em 78.41 horas
Navio 17 chegou no porto em 79.09 horas
Navio 17 começou a ser atendido no terminal 0 em 79.09 horas
Navio 14 terminou em 81.93 horas | Tempo de fila: 0.00, Tempo de serviço: 5.13
Navio 18 chegou no porto em 83.01 horas
Navio 15 terminou em 84.15 horas | Tempo de fila: 0.00, Tempo de serviço: 6.78
Navio 16 terminou em 86.22 horas | Tempo de fila: 0.00, Tempo de serviço: 7.81
Navio 17 terminou em 86.30 horas | Tempo de fila: 0.00, Tempo de serviço: 7.21
Navio 18 começou a ser atendido no terminal 0 em 86.30 horas
Navio 19 chegou no porto em 89.73 horas
Navio 19 começou a ser atendido no terminal 2 em 89.73 horas
Navio 18 terminou em 91.44 horas | Tempo de fila: 3.30, Tempo de serviço: 5.14
Navio 20 chegou no porto em 93.29 horas
Navio 20 começou a ser atendido no terminal 8 em 93.29 horas
Navio 21 chegou no porto em 95.65 horas
Navio 21 começou a ser atendido no terminal 17 em 95.65 horas
Navio 19 terminou em 96.36 horas | Tempo de fila: 0.00, Tempo de serviço: 6.63
Navio 22 chegou no porto em 97.99 horas
Navio 22 começou a ser atendido no terminal 3 em 97.99 horas
Navio 20 terminou em 99.29 horas | Tempo de fila: 0.00, Tempo de serviço: 6.00
Navio 23 chegou no porto em 99.64 horas
Navio 23 começou a ser atendido no terminal 4 em 99.64 horas
Navio 21 terminou em 101.90 horas | Tempo de fila: 0.00, Tempo de serviço: 6.26
Navio 22 terminou em 104.64 horas | Tempo de fila: 0.00, Tempo de serviço: 6.65
Navio 24 chegou no porto em 105.36 horas
Navio 24 começou a ser atendido no terminal 6 em 105.36 horas
Navio 23 terminou em 106.39 horas | Tempo de fila: 0.00, Tempo de serviço: 6.75
Navio 24 terminou em 110.51 horas | Tempo de fila: 0.00, Tempo de serviço: 5.16
Navio 25 chegou no porto em 112.16 horas
Navio 25 começou a ser atendido no terminal 9 em 112.16 horas
Navio 25 terminou em 118.77 horas | Tempo de fila: 0.00, Tempo de serviço: 6.61
Navio 26 chegou no porto em 119.54 horas
Navio 26 começou a ser atendido no terminal 8 em 119.54 horas
Navio 26 terminou em 125.68 horas | Tempo de fila: 0.00, Tempo de serviço: 6.14
Navio 27 chegou no porto em 135.26 horas
Navio 27 começou a ser atendido no terminal 4 em 135.26 horas
Navio 27 terminou em 141.01 horas | Tempo de fila: 0.00, Tempo de serviço: 5.75
Navio 28 chegou no porto em 147.27 horas
Navio 28 começou a ser atendido no terminal 7 em 147.27 horas
Navio 28 terminou em 153.23 horas | Tempo de fila: 0.00, Tempo de serviço: 5.96
Navio 29 chegou no porto em 163.97 horas
Navio 29 começou a ser atendido no terminal 3 em 163.97 horas
Navio 30 chegou no porto em 165.83 horas
Navio 30 começou a ser atendido no terminal 15 em 165.83 horas
Navio 29 terminou em 170.11 horas | Tempo de fila: 0.00, Tempo de serviço: 6.14
Navio 30 terminou em 171.10 horas | Tempo de fila: 0.00, Tempo de serviço: 5.27
Navio 31 chegou no porto em 192.87 horas
Navio 31 começou a ser atendido no terminal 8 em 192.87 horas
Navio 31 terminou em 198.73 horas | Tempo de fila: 0.00, Tempo de serviço: 5.86
Navio 32 chegou no porto em 201.69 horas
Navio 32 começou a ser atendido no terminal 0 em 201.69 horas
Navio 33 chegou no porto em 204.40 horas
Navio 33 começou a ser atendido no terminal 7 em 204.40 horas
Navio 34 chegou no porto em 205.37 horas
Navio 34 começou a ser atendido no terminal 5 em 205.37 horas
Navio 35 chegou no porto em 207.52 horas
Navio 35 começou a ser atendido no terminal 6 em 207.52 horas
Navio 32 terminou em 207.75 horas | Tempo de fila: 0.00, Tempo de serviço: 6.06
Navio 33 terminou em 209.25 horas | Tempo de fila: 0.00, Tempo de serviço: 4.85
Navio 36 chegou no porto em 209.40 horas
Navio 36 começou a ser atendido no terminal 8 em 209.40 horas
Navio 34 terminou em 211.56 horas | Tempo de fila: 0.00, Tempo de serviço: 6.19
Navio 35 terminou em 212.76 horas | Tempo de fila: 0.00, Tempo de serviço: 5.24
Navio 36 terminou em 216.54 horas | Tempo de fila: 0.00, Tempo de serviço: 7.14
Navio 37 chegou no porto em 220.54 horas
Navio 37 começou a ser atendido no terminal 2 em 220.54 horas
Navio 38 chegou no porto em 221.31 horas
Navio 38 começou a ser atendido no terminal 7 em 221.31 horas
Navio 39 chegou no porto em 222.48 horas
Navio 39 começou a ser atendido no terminal 1 em 222.48 horas
Navio 40 chegou no porto em 222.51 horas
Navio 40 começou a ser atendido no terminal 16 em 222.51 horas
Navio 37 terminou em 225.62 horas | Tempo de fila: 0.00, Tempo de serviço: 5.08
Navio 39 terminou em 227.22 horas | Tempo de fila: 0.00, Tempo de serviço: 4.74
Navio 38 terminou em 227.74 horas | Tempo de fila: 0.00, Tempo de serviço: 6.44
Navio 40 terminou em 228.42 horas | Tempo de fila: 0.00, Tempo de serviço: 5.92
Navio 41 chegou no porto em 234.23 horas
Navio 41 começou a ser atendido no terminal 19 em 234.23 horas
Navio 42 chegou no porto em 238.51 horas
Navio 42 começou a ser atendido no terminal 1 em 238.51 horas
Navio 41 terminou em 239.15 horas | Tempo de fila: 0.00, Tempo de serviço: 4.93
Navio 42 terminou em 245.04 horas | Tempo de fila: 0.00, Tempo de serviço: 6.53
Navio 43 chegou no porto em 255.70 horas
Navio 43 começou a ser atendido no terminal 11 em 255.70 horas
Navio 44 chegou no porto em 259.76 horas
Navio 44 começou a ser atendido no terminal 7 em 259.76 horas
Navio 45 chegou no porto em 260.61 horas
Navio 45 começou a ser atendido no terminal 1 em 260.61 horas
Navio 43 terminou em 262.33 horas | Tempo de fila: 0.00, Tempo de serviço: 6.63
Navio 46 chegou no porto em 264.61 horas
Navio 46 começou a ser atendido no terminal 5 em 264.61 horas
Navio 44 terminou em 265.78 horas | Tempo de fila: 0.00, Tempo de serviço: 6.02
Navio 45 terminou em 265.79 horas | Tempo de fila: 0.00, Tempo de serviço: 5.19
Navio 47 chegou no porto em 266.80 horas
Navio 47 começou a ser atendido no terminal 14 em 266.80 horas
Navio 46 terminou em 269.84 horas | Tempo de fila: 0.00, Tempo de serviço: 5.23
Navio 48 chegou no porto em 269.85 horas
Navio 48 começou a ser atendido no terminal 15 em 269.85 horas
Navio 49 chegou no porto em 271.49 horas
Navio 49 começou a ser atendido no terminal 0 em 271.49 horas
Navio 47 terminou em 271.85 horas | Tempo de fila: 0.00, Tempo de serviço: 5.05
Navio 50 chegou no porto em 273.00 horas
Navio 50 começou a ser atendido no terminal 9 em 273.00 horas
Navio 51 chegou no porto em 275.69 horas
Navio 51 começou a ser atendido no terminal 8 em 275.69 horas
Navio 48 terminou em 275.99 horas | Tempo de fila: 0.00, Tempo de serviço: 6.14
Navio 49 terminou em 277.17 horas | Tempo de fila: 0.00, Tempo de serviço: 5.67
Navio 52 chegou no porto em 277.51 horas
Navio 52 começou a ser atendido no terminal 14 em 277.51 horas
Navio 50 terminou em 279.20 horas | Tempo de fila: 0.00, Tempo de serviço: 6.20
Navio 53 chegou no porto em 280.00 horas
Navio 53 começou a ser atendido no terminal 4 em 280.00 horas
Navio 51 terminou em 282.78 horas | Tempo de fila: 0.00, Tempo de serviço: 7.08
Navio 52 terminou em 283.59 horas | Tempo de fila: 0.00, Tempo de serviço: 6.08
Navio 54 chegou no porto em 284.15 horas
Navio 53 terminou em 285.47 horas | Tempo de fila: 0.00, Tempo de serviço: 5.47
Navio 54 começou a ser atendido no terminal 4 em 285.47 horas
Navio 54 terminou em 289.57 horas | Tempo de fila: 1.32, Tempo de serviço: 4.09
Navio 55 chegou no porto em 290.09 horas
Navio 55 começou a ser atendido no terminal 0 em 290.09 horas
Navio 55 terminou em 296.71 horas | Tempo de fila: 0.00, Tempo de serviço: 6.62
Navio 56 chegou no porto em 298.73 horas
Navio 56 começou a ser atendido no terminal 13 em 298.73 horas
Navio 57 chegou no porto em 301.73 horas
Navio 57 começou a ser atendido no terminal 9 em 301.73 horas
Navio 56 terminou em 304.35 horas | Tempo de fila: 0.00, Tempo de serviço: 5.61
Navio 57 terminou em 307.34 horas | Tempo de fila: 0.00, Tempo de serviço: 5.61
Navio 58 chegou no porto em 313.28 horas
Navio 58 começou a ser atendido no terminal 4 em 313.28 horas
Navio 59 chegou no porto em 316.01 horas
Navio 59 começou a ser atendido no terminal 12 em 316.01 horas
Navio 58 terminou em 318.24 horas | Tempo de fila: 0.00, Tempo de serviço: 4.96
Navio 60 chegou no porto em 320.50 horas
Navio 60 começou a ser atendido no terminal 7 em 320.50 horas
Navio 59 terminou em 321.04 horas | Tempo de fila: 0.00, Tempo de serviço: 5.03
Navio 60 terminou em 326.65 horas | Tempo de fila: 0.00, Tempo de serviço: 6.14
Navio 61 chegou no porto em 329.31 horas
Navio 61 começou a ser atendido no terminal 17 em 329.31 horas
Navio 62 chegou no porto em 332.18 horas
Navio 62 começou a ser atendido no terminal 6 em 332.18 horas
Navio 63 chegou no porto em 333.02 horas
Navio 63 começou a ser atendido no terminal 2 em 333.02 horas
Navio 61 terminou em 335.72 horas | Tempo de fila: 0.00, Tempo de serviço: 6.41
Navio 63 terminou em 338.07 horas | Tempo de fila: 0.00, Tempo de serviço: 5.05
Navio 62 terminou em 338.52 horas | Tempo de fila: 0.00, Tempo de serviço: 6.34
Navio 64 chegou no porto em 346.98 horas
Navio 64 começou a ser atendido no terminal 8 em 346.98 horas
Navio 65 chegou no porto em 348.14 horas
Navio 65 começou a ser atendido no terminal 7 em 348.14 horas
Navio 66 chegou no porto em 349.56 horas
Navio 64 terminou em 352.63 horas | Tempo de fila: 0.00, Tempo de serviço: 5.65
Navio 66 começou a ser atendido no terminal 8 em 352.63 horas
Navio 67 chegou no porto em 353.56 horas
Navio 65 terminou em 354.09 horas | Tempo de fila: 0.00, Tempo de serviço: 5.95
Navio 67 começou a ser atendido no terminal 7 em 354.09 horas
Navio 68 chegou no porto em 356.63 horas
Navio 68 começou a ser atendido no terminal 10 em 356.63 horas
Navio 66 terminou em 358.72 horas | Tempo de fila: 3.07, Tempo de serviço: 6.09
Navio 67 terminou em 360.10 horas | Tempo de fila: 0.53, Tempo de serviço: 6.01
Navio 68 terminou em 363.01 horas | Tempo de fila: 0.00, Tempo de serviço: 6.38
Navio 69 chegou no porto em 374.45 horas
Navio 69 começou a ser atendido no terminal 9 em 374.45 horas
Navio 70 chegou no porto em 379.32 horas
Navio 70 começou a ser atendido no terminal 19 em 379.32 horas
Navio 69 terminou em 379.82 horas | Tempo de fila: 0.00, Tempo de serviço: 5.37
Navio 70 terminou em 384.79 horas | Tempo de fila: 0.00, Tempo de serviço: 5.48
Navio 71 chegou no porto em 392.82 horas
Navio 71 começou a ser atendido no terminal 4 em 392.82 horas
Navio 71 terminou em 398.24 horas | Tempo de fila: 0.00, Tempo de serviço: 5.42
Navio 72 chegou no porto em 400.25 horas
Navio 72 começou a ser atendido no terminal 10 em 400.25 horas
Navio 73 chegou no porto em 404.42 horas
Navio 73 começou a ser atendido no terminal 9 em 404.42 horas
Navio 72 terminou em 404.52 horas | Tempo de fila: 0.00, Tempo de serviço: 4.27
Navio 73 terminou em 410.61 horas | Tempo de fila: 0.00, Tempo de serviço: 6.19
Navio 74 chegou no porto em 413.66 horas
Navio 74 começou a ser atendido no terminal 1 em 413.66 horas
Navio 75 chegou no porto em 417.27 horas
Navio 74 terminou em 419.47 horas | Tempo de fila: 0.00, Tempo de serviço: 5.81
Navio 75 começou a ser atendido no terminal 1 em 419.47 horas
Navio 76 chegou no porto em 419.63 horas
Navio 76 começou a ser atendido no terminal 4 em 419.63 horas
Navio 77 chegou no porto em 422.07 horas
Navio 77 começou a ser atendido no terminal 2 em 422.07 horas
Navio 76 terminou em 424.54 horas | Tempo de fila: 0.00, Tempo de serviço: 4.91
Navio 75 terminou em 425.73 horas | Tempo de fila: 2.20, Tempo de serviço: 6.25
Navio 78 chegou no porto em 425.75 horas
Navio 78 começou a ser atendido no terminal 6 em 425.75 horas
Navio 77 terminou em 428.14 horas | Tempo de fila: 0.00, Tempo de serviço: 6.07
Navio 79 chegou no porto em 429.35 horas
Navio 79 começou a ser atendido no terminal 7 em 429.35 horas
Navio 78 terminou em 431.62 horas | Tempo de fila: 0.00, Tempo de serviço: 5.86
Navio 80 chegou no porto em 434.34 horas
Navio 80 começou a ser atendido no terminal 8 em 434.34 horas
Navio 81 chegou no porto em 436.03 horas
Navio 81 começou a ser atendido no terminal 9 em 436.03 horas
Navio 79 terminou em 436.56 horas | Tempo de fila: 0.00, Tempo de serviço: 7.22
Navio 82 chegou no porto em 440.58 horas
Navio 82 começou a ser atendido no terminal 13 em 440.58 horas
Navio 80 terminou em 440.73 horas | Tempo de fila: 0.00, Tempo de serviço: 6.39
Navio 83 chegou no porto em 442.40 horas
Navio 83 começou a ser atendido no terminal 4 em 442.40 horas
Navio 81 terminou em 442.51 horas | Tempo de fila: 0.00, Tempo de serviço: 6.48
Navio 82 terminou em 444.99 horas | Tempo de fila: 0.00, Tempo de serviço: 4.40
Navio 83 terminou em 448.43 horas | Tempo de fila: 0.00, Tempo de serviço: 6.03
Navio 84 chegou no porto em 450.36 horas
Navio 84 começou a ser atendido no terminal 13 em 450.36 horas
Navio 84 terminou em 456.28 horas | Tempo de fila: 0.00, Tempo de serviço: 5.92
Navio 85 chegou no porto em 458.53 horas
Navio 85 começou a ser atendido no terminal 12 em 458.53 horas
Navio 86 chegou no porto em 459.87 horas
Navio 86 começou a ser atendido no terminal 1 em 459.87 horas
Navio 87 chegou no porto em 463.06 horas
Navio 85 terminou em 465.47 horas | Tempo de fila: 0.00, Tempo de serviço: 6.94
Navio 87 começou a ser atendido no terminal 12 em 465.47 horas
Navio 86 terminou em 466.65 horas | Tempo de fila: 0.00, Tempo de serviço: 6.78
Navio 88 chegou no porto em 467.02 horas
Navio 88 começou a ser atendido no terminal 1 em 467.02 horas
Navio 87 terminou em 469.90 horas | Tempo de fila: 2.41, Tempo de serviço: 4.43
Navio 88 terminou em 471.34 horas | Tempo de fila: 0.00, Tempo de serviço: 4.32
Navio 89 chegou no porto em 472.43 horas
Navio 89 começou a ser atendido no terminal 3 em 472.43 horas
Navio 90 chegou no porto em 478.25 horas
Navio 90 começou a ser atendido no terminal 0 em 478.25 horas
Navio 89 terminou em 478.58 horas | Tempo de fila: 0.00, Tempo de serviço: 6.15
Navio 91 chegou no porto em 479.42 horas
Navio 91 começou a ser atendido no terminal 9 em 479.42 horas
Navio 92 chegou no porto em 480.35 horas
Navio 92 começou a ser atendido no terminal 19 em 480.35 horas
Navio 93 chegou no porto em 480.96 horas
Navio 93 começou a ser atendido no terminal 8 em 480.96 horas
Navio 94 chegou no porto em 482.58 horas
Navio 94 começou a ser atendido no terminal 3 em 482.58 horas
Navio 90 terminou em 483.76 horas | Tempo de fila: 0.00, Tempo de serviço: 5.51
Navio 91 terminou em 484.29 horas | Tempo de fila: 0.00, Tempo de serviço: 4.88
Navio 95 chegou no porto em 485.11 horas
Navio 95 começou a ser atendido no terminal 15 em 485.11 horas
Navio 96 chegou no porto em 485.51 horas
Navio 96 começou a ser atendido no terminal 12 em 485.51 horas
Navio 93 terminou em 486.81 horas | Tempo de fila: 0.00, Tempo de serviço: 5.85
Navio 92 terminou em 487.43 horas | Tempo de fila: 0.00, Tempo de serviço: 7.09
Navio 94 terminou em 488.41 horas | Tempo de fila: 0.00, Tempo de serviço: 5.83
Navio 96 terminou em 490.78 horas | Tempo de fila: 0.00, Tempo de serviço: 5.28
Navio 95 terminou em 491.05 horas | Tempo de fila: 0.00, Tempo de serviço: 5.94
Navio 97 chegou no porto em 495.26 horas
Navio 97 começou a ser atendido no terminal 0 em 495.26 horas
Navio 98 chegou no porto em 497.99 horas
Navio 98 começou a ser atendido no terminal 5 em 497.99 horas
Navio 99 chegou no porto em 498.50 horas
Navio 99 começou a ser atendido no terminal 3 em 498.50 horas
Navio 97 terminou em 501.29 horas | Tempo de fila: 0.00, Tempo de serviço: 6.02
Navio 99 terminou em 504.09 horas | Tempo de fila: 0.00, Tempo de serviço: 5.59
Navio 98 terminou em 504.76 horas | Tempo de fila: 0.00, Tempo de serviço: 6.77
Navio 100 chegou no porto em 509.15 horas
Navio 100 começou a ser atendido no terminal 8 em 509.15 horas
Navio 100 terminou em 516.38 horas | Tempo de fila: 0.00, Tempo de serviço: 7.24
Navio 101 chegou no porto em 516.62 horas
Navio 101 começou a ser atendido no terminal 9 em 516.62 horas
Navio 101 terminou em 524.11 horas | Tempo de fila: 0.00, Tempo de serviço: 7.49
Navio 102 chegou no porto em 530.19 horas
Navio 102 começou a ser atendido no terminal 8 em 530.19 horas
Navio 103 chegou no porto em 534.02 horas
Navio 103 começou a ser atendido no terminal 12 em 534.02 horas
Navio 102 terminou em 537.44 horas | Tempo de fila: 0.00, Tempo de serviço: 7.25
Navio 103 terminou em 541.01 horas | Tempo de fila: 0.00, Tempo de serviço: 6.99
Navio 104 chegou no porto em 541.17 horas
Navio 104 começou a ser atendido no terminal 7 em 541.17 horas
Navio 105 chegou no porto em 542.82 horas
Navio 105 começou a ser atendido no terminal 8 em 542.82 horas
Navio 106 chegou no porto em 545.62 horas
Navio 106 começou a ser atendido no terminal 0 em 545.62 horas
Navio 104 terminou em 546.07 horas | Tempo de fila: 0.00, Tempo de serviço: 4.90
Navio 107 chegou no porto em 547.29 horas
Navio 107 começou a ser atendido no terminal 13 em 547.29 horas
Navio 105 terminou em 548.47 horas | Tempo de fila: 0.00, Tempo de serviço: 5.65
Navio 106 terminou em 553.08 horas | Tempo de fila: 0.00, Tempo de serviço: 7.46
Navio 107 terminou em 553.71 horas | Tempo de fila: 0.00, Tempo de serviço: 6.42
Navio 108 chegou no porto em 554.09 horas
Navio 108 começou a ser atendido no terminal 11 em 554.09 horas
Navio 109 chegou no porto em 558.91 horas
Navio 109 começou a ser atendido no terminal 16 em 558.91 horas
Navio 110 chegou no porto em 560.71 horas
Navio 110 começou a ser atendido no terminal 0 em 560.71 horas
Navio 111 chegou no porto em 560.83 horas
Navio 111 começou a ser atendido no terminal 3 em 560.83 horas

Logs dos terminais: